body {
    background: linear-gradient(to bottom right, rgb(37, 55, 66), rgb(71, 8, 47));
    overflow: hidden;
}

#editor {
    height: 100%;
}

.full_height {
    height: 100%;
}

#inform {
    position: fixed;
    padding: 3em;
    top: 5em;
    right: 2em;
    z-index: 90;
}

#bdaText {
    width: 100%;
    margin: 3em;
    border-radius: 25px;
    background: white;
    border-radius: 25px;
    padding: 1em;
    background: white;
}

#fixed-div {
    position: fixed;
    background: white;
    border-radius: 25px;
    padding: 1em;
    top: 5em;
    left: -10em;
    z-index: 90;
    transition: left 2s;
}

#fixed-div-invisible {
    position: fixed;
    height: 600px;
    width: 150px;
    top: 4em;
    left: 0em;
    z-index: 95;
}

#fixed-div-invisible:hover + #fixed-div {
    top: 5em;
    left: 2em;
}

.icons_column {
    margin: 1em;
}